{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Merchex</title>
        <meta charset="utf-8" />
        <meta name="description" content="Merchex" />
        <meta name="keywords" content="Merchex" />
        <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    </head>

    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__logo">LOGO Merchex</div>
                <nav class="header__menu">
                    <ul class="nav_bar">
                        <li class="nav_bar__item">
                            <a href="{% url 'band-list' %}">Groupes</a>
                        </li>
                        <li class="nav_bar__item">
                            <a href="{% url 'listing-list' %}">Annonces</a>
                        </li>
                        <li class="nav_bar__item">
                            <a href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav_bar__item">
                            <a href="{% url 'about' %}">À propos</a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
