{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Merchex</title>
        <meta charset="utf-8" />
        <meta name="description" content="Merchex" />
        <meta name="keywords" content="Merchex" />
        <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'band-list' %}">Groupes</a>
                    </li>
                    <li>
                        <a href="{% url 'listing-list' %}">Annonces</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">À propos</a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}
    </body>
</html>
